*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --dark-blue: #0C84FB;
  --light-blue: #B5DDFD;
  --violet: #9792E4;
  --grey: #333333;
  --yellow: #F9C15F;

}

body{
  font-family: 'PT Sans', sans-serif;
}

/* Utils */

.d-flex {
  display: flex;
  gap: 20px;
}

.debug-1{
  background-color: coral;
  border: 1px solid black;
}

.debug-2 {
  background-color: rgba(165, 42, 42, 0.5);
  border: 1px solid black;
}

.container {
  width: 100%;
  max-width: 576px;
  margin: 0 auto;
}
/* .frame {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: black;
  margin: 20px;
} */

.btn {
  display: inline-block;
  padding: 10px 30px;
  border-radius: 20px;
  background-color: white;
  color: black;
  text-decoration: none;
  transition: all 0.3s;
}

/* header */

header {
  height: 70px;
  align-items: center;
  background-color: var(--dark-blue);
  color: white;
  font-size: 1.5rem;
}

header .menu {
  display: none;
}

header .container {
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
}

/* main */

section {
  margin-top: 50px;
}

main .container {
  flex-direction: column;
}
/* intro */
main .row {
  flex-basis: 100%;
  flex-direction: column;
}

main .col {
  flex-basis: 100%;
  height: 300px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px 30px 0 30px;
}
main .card {
  flex-direction: column;
  align-items: center;
  background-color: var(--light-blue);
  border-radius: 15px;
  padding: 40px;
}

main .card .title {
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
  color: var(--dark-blue);
}

main p {
  font-weight: bold;
  /* margin: 20px 0; */
  line-height: 2rem;
  color: var(--grey);
}

main .card .right {
  flex-basis: 50%;
  margin-top: 30px;
}


main img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#card-phone {
  padding-bottom: 0;
}

#btn-phone {
  text-align: center;
}

.btn.blue {
  letter-spacing: 3px;
  background-color: var(--dark-blue);
  color: white;
}

main .icon {
  font-size: 5rem;
  color: var(--dark-blue);
  margin-bottom: 20px;
}

/* planning */

main #planning {
  padding-bottom: 20px;
  background-color: var(--violet);
  color: white;
}

main #planning .col {
  row-gap: 30px;
  justify-content: flex-start;
}

main #planning .image {
  flex-basis: 100%;

}

main #planning .col .title {
  font-weight: bold;
  font-size: 2rem;
  color: white;
}

main #planning .card{
  background-color: white; color: black;
}

main #planning .card .title {
  color: black;
}


main .btn.round {
  text-align: center;
  line-height: 50px;
  width: 50px;
  height: 50px;
  padding: 0px;
  border-radius: 50%;
  background-color: var(--violet);
}

/* partners */

main #partners #testimonials {
  background-color: white;
  font-size: 1.1rem;
  font-weight: lighter;
}

main #partners .int {
  text-transform: uppercase;
  font-size: 1.5rem;
  text-align: center;
  color: var(--grey);
}

main #partners .title {
  
  font-size: 2rem;
  color: var(--violet);
}

main #partners .text .quote-left {
  margin-right: 15px;
}
main #partners .text .quote-right {
  margin-left: 15px;
}

main #partners .row {
  padding: 0 30px;
}

main #partners .card {
  font-size: 1.3rem;
  color: white;
  background-color: var(--violet);
}

main #partners .card .frame img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}


#with-us .container{
  align-items: center;
}



/* footer */
footer {
  height: 200px;
  text-align: center;
  font-size: 0.8rem;
}
footer .text {
  padding: 20px 0;
}
